<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <ame>
                <active>1</active>
                <title>AME</title>
                <order_status>pending</order_status>
                <instructions>Instruction.</instructions>
                <payment_action>true</payment_action>
                <model>GumNet\AME\Model\AME</model>
                <group>offline</group>
            </ame>
        </payment>
    </default>
</config>