<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GumNet\AME\Api\AmeOrderRepositoryInterface" type="GumNet\AME\Model\AmeOrderRepository"/>
    <preference for="GumNet\AME\Api\Data\AmeOrderInterface" type="GumNet\AME\Model\Data\AmeOrder"/>
    <preference for="GumNet\AME\Api\Data\AmeOrderSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="GumNet\AME\Model\ResourceModel\AmeOrder\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">gumnet_ame_ame_order</argument>
            <argument name="resourceModel" xsi:type="string">GumNet\AME\Model\ResourceModel\AmeOrder\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gumnet_ame_ame_order_listing_data_source" xsi:type="string">GumNet\AME\Model\ResourceModel\AmeOrder\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
