<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="ame_routes" frontName="m2amecallbackendpoint">
            <module name="GumNet_AME" />
        </route>
    </router>
</config>